.h3{
  position:absolute;
  margin-top: 30px;
}

.collection {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 40px;
    border: 2px black;
    grid-template-columns: repeat(3, 1fr);
      margin: 60px auto;
      max-width: 900px;
  }
  
  .tracks {
    .trackPictures {
      background-color: #ffffff;
      border-radius: 25%;
      display: block;
      min-height: 200px;
      width: 100%;
    
    }

    .trackPictures:hover{
      filter: invert(100%);
      transition-duration: 0.5s;
    }

    .trackPageLink{
      border-radius: 25px;
      background: #000000;
      padding: 5px; 
      width: 170px;
      height:fit-content;
      text-align: center;
      margin: 8px;
    }

      .trackPageLink:hover{
        filter: invert(100%);
        transition-duration: 0.5s;
      }
    
  .tracksButton{
    text-decoration: none;
    font-family:serif;
    color:#f1f1f1;
  }
  }




  
  .logo{
    width: 110px;
    height: auto;
    position: sticky;
    margin-left: 40px;
    margin-top: 10px;
    position:fixed;

  }

  .navegationContainer{
    position:fixed;
    margin-top: 180px;
    margin-left: 5px;
  }
  .milesControl{
    border-radius: 25px;
    background: #000000;
    padding: 5px; 
    width: 150px;
    height:fit-content;
    text-align: center;
    color:#f1f1f1
  }
  .milesControl:hover{
  filter: invert(100%);
  transition-duration: 0.5s;
}
 

 .reviewControl{
  border-radius: 25px;
  background: #000000;
  padding: 5px;  
  width: 150px;
  height:fit-content;
  text-align: left;
 }
 
 .reviewControl:hover{
  filter: invert(100%);
  transition-duration: 0.5s;
 }


 .startingLocationControl{
  border-radius: 25px;
  background: #000000;
  padding: 5px;  
  width: 150px;
  height:fit-content;
  text-align: center;
 }

 .startingLocationControl:hover{
  filter: invert(100%);
  transition-duration: 0.5s;
 }

 .loopedControls{
  border-radius: 25px;
  background: #000000;
  padding: 5px; 
  width: 150px;
  height:fit-content;
  text-align: center;
 }

 .loopedControls:hover{
  filter: invert(100%);
  transition-duration: 0.5s;
 }


.navButton{
  padding: 4px;
  margin: 5px;
  text-align: left;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow:hover{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.menu{
text-align: right ;
margin-right: 20px;

}

/* Style The Dropdown Button */
.dropbtn {
  border-radius: 25px;
  background: #000000;
  padding: 5px; 
  width: 150px;
  height:fit-content;
  text-align: center;
  color: #f1f1f1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  color: #f1f1f1;
 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  filter: invert(100%);
  transition-duration: 0.5s;
 }