

.collection {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(20%, auto);
    grid-gap: 2%;
    border: 2px black;
    grid-template-columns: repeat(3, 1fr);
      max-width: 70%;
      margin-left:24%;
      margin-top: 2%;
      margin-bottom: 2%;
  }
  
  .tracks {
    

    .trackPageLink{
      border-radius: 0%;
      background: #000000;
      padding: 2%; 
      width: 100%;
      height:fit-content;
      text-align: center;
      margin-left: 0%;
      border-color: #ffffff;
      border-width: 2em;
    }

      .trackPageLink:hover{
        filter: invert(100%);
        transition-duration: 0.5s;
      }
    
  .tracksButton{
    text-decoration: none;
    font-family:serif;
    color:#f1f1f1;
    
  }
  }

  
  .logo{
    width: 3%;
    height: auto;
    margin-left: 1%;
    margin-top: -1%;
    position:fixed;

  }

  .navegationContainer{
    position:fixed;
    margin-top: 5%;
    max-width: 20%;
    margin-left: 0%;
  
  }

  .milesControl{
    border-radius: 0%;
    background: #fdfdfd;
    border-color: #000000;
    padding: 2%; 
    width: 100%;
    height:fit-content;
    text-align: center;
    color:#000000;
    margin-bottom: 10%;
  }
  

 .reviewControl{
  border-radius:0%;
  background: #ffffff;
  border-color: #000000;
  padding: 2%; 
    width: 100%;
  height:fit-content;
  text-align: center;
  color:#000000;
  margin-bottom: 10%;
 }
 


 .startingLocationControl{
  border-radius:0%;
  background: #ffffff;
  border-color: #000000;
  padding: 2%; 
    width: 100%;
  height:fit-content;
  text-align: center;
  color:#000000;
  margin-bottom: 10%;
 }


 .loopedControls{
  border-radius:0%;
  background: #ffffff;
  border-color: #000000;
  padding: 2%; 
    width: 100%;
  height:fit-content;
  text-align: center;
  color:#000000;
 }

.navButton{
  border-radius: 0%;
  padding: 2%;
  margin: 4%;
  text-align: left;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow:hover{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}





 #RockefellerParkLoop{
  fill:none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

#RockefellerParkLoop:hover {
  stroke: red;
  background-color: #f5f2f2a3;
  transition: 0.5s;
}

#BigLoopAtProspectPark{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;

}

#BigLoopAtProspectPark:hover{
  stroke: blue;
  background-color: #f5f2f2a3;
  transition: 0.5s;
}

#BrooklynBridgeLoop{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

#BrooklynBridgeLoop:hover{
  stroke: blue;
  background-color: #f5f2f2a3;
  transition: 0.5s;
}

#HudsonRun{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;

}

#HudsonRun:hover{
  stroke:blue;
  background-color: #f5f2f2a3;
  transition: 0.5s;
}

#LittleIslandtoOneWorldTrade{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

#LittleIslandtoOneWorldTrade:hover{
  stroke:red;
  background-color: #f5f2f2a3;
  transition: 0.5s;
}

#HudsonRiverto5av11st{
  fill: none;
    stroke: black;
    stroke-miterlimit: 10;
    stroke-width: 5px;
}
#HudsonRiverto5av11st:hover{
  stroke:green;
  background-color: #f5f2f2a3;
  transition: 0.5s;
}

#VesseltoHudsonRiverGreenwayLoop{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

#VesseltoHudsonRiverGreenwayLoop:hover{
  stroke:blue;
  background-color: #f5f2f2a3;
  transition: 0.5s;
}

#ThreeLoopsInCentralPark{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
  
}

#ThreeLoopsInCentralPark:hover{
  stroke:red
}

#ThreeLoopsatShumanRunningTrack{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
  
}

#ThreeLoopsatShumanRunningTrack:hover{
  stroke:red

}

#SmallLoopAtProspectPark{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px; 
}

#SmallLoopAtProspectPark:hover{
  stroke:blue
}

#ThreeLoopsInCentralPark{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

#ThreeLoopsInCentralPark:hover{
  stroke:red
}

#StuyvesantSquareParktoWilliansburgBridgeLoop{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

#StuyvesantSquareParktoWilliansburgBridgeLoop:hover{
  stroke:red
}

#RooseveltIsland{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
  
}

#RooseveltIsland:hover{
  stroke:red
}

#RiversideParkFromEmpireStateTrailtoColumbiaUniversity{
  fill: none;
   stroke: black;
   stroke-miterlimit: 10;
   stroke-width: 5px;

   }
   
      
 #RiversideParkFromEmpireStateTrailtoColumbiaUniversity:hover {
   stroke: red
  }

  #PebbleBeachtoBrooklynBridgeParkLoop{
    fill: none;
    stroke: black;
    stroke-miterlimit: 10;
    stroke-width: 5px;

  }

  #PebbleBeachtoBrooklynBridgeParkLoop:hover{
    stroke: blue
  }

  #OneLoopatShumanRunningTrack{
    fill: none;
      stroke: black;
      stroke-miterlimit: 10;
      stroke-width: 5px;
  }
  
  #OneLoopatShumanRunningTrack:hover{
    stroke: green
  }

  #OneLoopatCentralPark{
    fill: none;
    stroke: black;
    stroke-miterlimit: 10;
    stroke-width: 5px;
      
    }
  
    #OneLoopatCentralPark:hover{
      stroke: green
    }

    #MadisonSquareParktoEastRiverParkField8{
      fill: none;
      stroke: black;
      stroke-miterlimit: 10;
      stroke-width: 5px;
    }
  
    #MadisonSquareParktoEastRiverParkField8:hover{
      stroke:blue
    }
