.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.collection {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(20%, 4%);
  grid-gap: 2%;
  row-gap: 0%;
  border: 1% black;
  grid-template-columns: repeat(3, 33%);
  max-width: 70%;
  margin-left: 24%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-decoration: none;
}

@media only screen and (max-width: 1170px) {

  /* For mobile phones: */
  [class="collection"] {
    max-width: 92%;
    margin-top: 5%;
    font-size: 0.8em;
    margin-left: 6%;
    margin-right: 0%;
    grid-template-columns: repeat(2, 44%);
    grid-gap: 3%;

  }

}

.imageTrack {
  height: 60%;
  width: 100%;
}

.imageTrack:hover {
  background-color: #cfcece3b;
  transition: 0.3s;
}

.tracks {


  .trackPageLink {
    background: #000000;
    padding: 2%;
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-left: 0%;
    border-color: #ffffff;
    border-width: 2em;
    font-family: "MuseoModerno", sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .trackPageLink:hover {
    filter: invert(100%);
    transition-duration: 0.5s;
    font-size: 1.3rem ;
  }

  .tracksButton {
    text-decoration: none;
    font-family: "Rajdhani", sans-serif;
    color: #f1f1f1;
  }
}


@media only screen and (max-width: 1170px) {

  /* For mobile phones: */
  [class="tracksButton"] {
    width: 80%;
    height: fit-content;
    text-decoration: none;
  }
}


.logo {
  width: 3%;
  height: auto;
  margin-left: 1%;
  margin-top: -1%;
  position: absolute;

}

@media only screen and (max-width: 1170px) {

  /* For mobile phones: */
  [class="logo"] {
    width: 10%;

  }
}

@media only screen and (max-width: 600px) {

  /* For mobile phones: */
  [class="logo"] {
    width: 10%;
  }
}

.navegationContainer {
  position: fixed;
  margin-top: 3.5%;
  max-width: 20%;
  margin-left: 0%;

}

@media only screen and (max-width: 1170px) {

  /* For mobile phones: */
  [class="navegationContainer"] {
    width: 98%;
    max-width: 80%;
    margin-left: 15%;
    position: relative;
    font-size: 12px;
    margin-top: 2%;
    margin-bottom: 0%;

  }
}

@media only screen and (max-width: 600px) {

  /* For mobile phones: */
  [class="navegationContainer"] {
    width: 98%;
    max-width: 80%;
    margin-left: 15%;
    position: relative;
    font-size: 12px;
    margin-top: 2%;
    margin-bottom: 0%;
  }
}

.milesControl {

  background: #fdfdfd;
  border-color: #000000;
  color: #000000;
  padding: 2%;
  width: 100%;
  height: fit-content;
  text-align: center;
  margin-bottom: 10%;
  font-family: "MuseoModerno", sans-serif;
}

@media only screen and (max-width: 1170px) {

  /* For mobile phones: */
  [class="milesControl"] {
    min-width: 90%;
    max-height: fit-content;
    margin-left: 1%;
    margin-right: 0%;
    margin-top: 7%;
    position: relative;
    font-size: 12px;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 600px) {

  /* For mobile phones: */
  [class="milesControl"] {
    width: fit-content;
    max-width: 20%;
    max-height: fit-content;
    margin: auto;
    margin-left: 1%;
    margin-right: 0%;
    margin-top: 7%;
    position: relative;
    font-size: 12px;
    margin-left: 0%;
  }
}

.reviewControl {
  background: #ffffff;
  border-color: #000000;
  padding: 2%;
  width: 100%;
  height: fit-content;
  text-align: center;
  color: #000000;
  margin-bottom: 10%;
  font-family: "MuseoModerno", sans-serif;
}

@media only screen and (max-width: 1170px) {

  /* For mobile phones: */
  [class="reviewControl"] {
    min-width: 90%;
    max-height: fit-content;
    margin-left: 1%;
    margin-right: 0%;
    margin-top: 7%;
    position: relative;
    font-size: 12px;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 600px) {

  /* For mobile phones: */
  [class="reviewControl"] {
    width: fit-content;
    max-width: 20%;
    max-height: fit-content;
    margin: auto;
    margin-left: 22%;
    margin-top: 7%;
    margin-right: 0%;
    position: relative;
    font-size: 12px;
  }
}


.startingLocationControl {
  background: #ffffff;
  border-color: #000000;
  padding: 2%;
  width: 100%;
  height: fit-content;
  text-align: center;
  color: #000000;
  margin-bottom: 10%;
  font-family: "MuseoModerno", sans-serif;
}

@media only screen and (max-width: 600px) {

  /* For mobile phones: */
  [class="startingLocationControl"] {
    width: 50%;
    max-width: 20%;
    max-height: fit-content;
    margin-right: 0%;
    margin-top: -33.5%;
    margin-left: 47.5%;
    position: relative;
    font-size: 12px;
  }
}

@media only screen and (max-width: 1170px) {

  /* For mobile phones: */
  [class="startingLocationControl"] {
    min-width: 90%;
    max-height: 20%;
    margin-left: 1%;
    margin-right: 0%;
    margin-top: 7%;
    position: relative;
    font-size: 12px;
    margin-bottom: 2%;
  }
}

.loopedControls {
  background: #ffffff;
  border-color: #000000;
  padding: 2%;
  width: 100%;
  height: fit-content;
  text-align: center;
  color: #000000;
  font-family: "MuseoModerno", sans-serif;
}

@media only screen and (max-width: 600px) {

  /* For mobile phones: */
  [class="loopedControls"] {
    width: 20%;
    max-width: 20%;
    max-height: fit-content;
    margin: auto;
    margin-top: -70%;
    margin-left: 75%;
    margin-right: 0%;
    position: relative;
    font-size: 12px;

  }
}

.navButton {
  border-radius: 0%;
  padding: 2%;
  margin: 4%;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  text-decoration: none;
}

@media only screen and (max-width: 1170px) {

  /* For mobile phones: */
  [class="navButton"] {
    margin: 0.2%;
    font-size: 1em;
    min-width: fit-content;
    max-width: fit-content;
    max-height: min-content;
    margin-top: 1%;
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {

  /* For mobile phones: */
  [class="navButton"] {
    margin: 0.2%;
    font-size: 1em;
    min-width: fit-content;
    max-width: fit-content;
    margin-top: 1%;
    text-decoration: none;
  }
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }

/* 
#RockefellerParkLoop{
  fill:none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 4px;
  
}

#RockefellerParkLoop:hover {
  stroke: red;
  background-color: #f5f2f2a3;
  transition: 0.3s;
}

#BigLoopAtProspectPark{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;

}

#BigLoopAtProspectPark:hover{
  stroke: blue;
  background-color: #f5f2f2a3;
  transition: 0.3s;
}

#BrooklynBridgeLoop{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

#BrooklynBridgeLoop:hover{
  stroke: blue;
  background-color: #f5f2f2a3;
  transition: 0.3s;
}

#HudsonRun{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;

}

#HudsonRun:hover{
  stroke:blue;
  background-color: #f5f2f2a3;
  transition: 0.3s;
}

#LittleIslandtoOneWorldTrade{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

#LittleIslandtoOneWorldTrade:hover{
  stroke:red;
  background-color: #f5f2f2a3;
  transition: 0.3s;
}

#HudsonRiverto5av11st{
  fill: none;
    stroke: black;
    stroke-miterlimit: 10;
    stroke-width: 5px;
}
#HudsonRiverto5av11st:hover{
  stroke:green;
  background-color: #f5f2f2a3;
  transition: 0.3s;
}

#VesseltoHudsonRiverGreenwayLoop{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

#VesseltoHudsonRiverGreenwayLoop:hover{
  stroke:blue;
  background-color: #f5f2f2a3;
  transition: 0.3s;
}

#ThreeLoopsInCentralPark{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
  
}

#ThreeLoopsInCentralPark:hover{
  stroke:red;
  background-color: #f5f2f2a3;
  transition: 0.3s;
}

#ThreeLoopsatShumanRunningTrack{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
  
}

#ThreeLoopsatShumanRunningTrack:hover{
  stroke:red;
  background-color: #f5f2f2a3;
  transition: 0.3s;

}

#SmallLoopAtProspectPark{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px; 
}

#SmallLoopAtProspectPark:hover{
  stroke:blue;
  background-color: #f5f2f2a3;
  transition: 0.3s;
}

#ThreeLoopsInCentralPark{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

#ThreeLoopsInCentralPark:hover{
  stroke:red;
  background-color: #f5f2f2a3;
  transition: 0.3s;
}

#StuyvesantSquareParktoWilliansburgBridgeLoop{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

#StuyvesantSquareParktoWilliansburgBridgeLoop:hover{
  stroke:red;
  background-color: #f5f2f2a3;
  transition: 0.5s;
}

#RooseveltIsland{
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
  
}

#RooseveltIsland:hover{
  stroke:red;
  background-color: #f5f2f2a3;
  transition: 0.3s;
}

#RiversideParkFromEmpireStateTrailtoColumbiaUniversity{
  fill: none;
   stroke: black;
   stroke-miterlimit: 10;
   stroke-width: 5px;

   }
   
      
 #RiversideParkFromEmpireStateTrailtoColumbiaUniversity:hover {
   stroke: red;
   background-color: #f5f2f2a3;
   transition: 0.3s;
  }

  #PebbleBeachtoBrooklynBridgeParkLoop{
    fill: none;
    stroke: black;
    stroke-miterlimit: 10;
    stroke-width: 5px;

  }

  #PebbleBeachtoBrooklynBridgeParkLoop:hover{
    stroke: blue;
    background-color: #f5f2f2a3;
    transition: 0.3s;
  }

  #OneLoopatShumanRunningTrack{
    fill: none;
      stroke: black;
      stroke-miterlimit: 10;
      stroke-width: 5px;
  }
  
  #OneLoopatShumanRunningTrack:hover{
    stroke: green;
    background-color: #f5f2f2a3;
    transition: 0.3s;
  }


  #OneLoopatCentralPark{
    fill: none;
    stroke: black;
    stroke-miterlimit: 10;
    stroke-width: 5px;
      
    }
  
    #OneLoopatCentralPark:hover{
      stroke: green;
      background-color: #f5f2f2a3;
      transition: 0.3s;
    }

    #MadisonSquareParktoEastRiverParkField8{
      fill: none;
      stroke: black;
      stroke-miterlimit: 10;
      stroke-width: 5px;
    }
  
    #MadisonSquareParktoEastRiverParkField8:hover{
      stroke:blue;
      background-color: #f5f2f2a3;
      transition: 0.3s;
    }
*/