.body {
    background-color: #fff;
    padding: 0 20px;
  }
 

  .menu{
    text-align: right ;
    margin-right: 20px;
    z-index: 2;
    
    }
    
    /* Style The Dropdown Button */
    .dropbtn {
      border-radius: 25px;
      background: #b3b3b3;
      padding: 5px; 
      width: 150px;
      height:fit-content;
      text-align: center;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
     
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }


    .dropdownEachImage {
      position: relative;
      display: inline-block;
    }
    
    .dropdownEachImage-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdownEachImage:hover .dropdownEachImage-content {
      display: block;
    }
    
    .desc {
      padding: 15px;
      text-align: center;
    }



.logo{
  width: 110px;
  height: auto;
  position: sticky;
  margin-left: 4%;
  margin-top: 4%;
  position:fixed;
  
    }

  .RockefellerPark{
    max-width: 100%;
    height: auto;
    position: absolute;
    top:32%;
    left: 4%;
    transform: translate(-50%, -50%);
   z-index:1 ;
  }

  .RockefellerParkLoop{
    max-width: 100%;
    height: auto;
    position: absolute;
    top:4%;
    left: 37%;
    transform: translate(-50%, -50%);
    transform: rotate(120deg);
    z-index: 1;
  }

  .BigLoopAtProspectPark{
    max-width: 100%;
    height: auto;
    position: absolute;
    top:12%;
    left: 12%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    z-index: 1;
  }

  .LittleIslandtoOneWorldTrade{
    max-width: 100%;
    height: auto;
    position: absolute;
    top:10%;
    left: 60%;
    transform: translate(-50%, -50%);
    transform: rotate(60deg);
    z-index: 1;
  }

  .MadisonSquareParktoEastRiverParkField8{
    max-width: 100%;
    height: auto;
    position: absolute;
    top:-20%;
    left: 20%;
    transform: translate(-50%, -50%);
    transform: rotate(80deg);
    z-index: 1;
  }

  .OneLoopatCentralPark{
    max-width: 100%;
    height: auto;
    position: absolute;
    top:-50%;
    left: 52%;
    transform: translate(-50%, -50%);
    transform: rotate(80deg);
    z-index: 1;

  }

  .OneLoopatShumanRunningTrack{
    max-width: 100%;
    height: auto;
    position: absolute;
    top:-20%;
    left: 0%;
    transform: translate(-50%, -50%);
    transform: rotate(280deg);
    z-index: 1;
  }


  .PebbleBeachtoBrooklynBridgeParkLoop{
    max-width:100%;
    height: auto;
    position: absolute;
    top:-57%;
    left: 8%;
    transform: translate(-50%, -50%);
    transform: rotate(60deg);
    z-index: 1;
  }

  .RiversideParkFromEmpireStateTrailtoColumbiaUniversity{
    max-width: 100%;
    height: auto;
    position: absolute;
    top:-35%;
    left: 70%;
    transform: translate(-50%, -50%);
    transform: rotate(30deg);
    z-index: 1;
  }

  .RooseveltIsland{
    max-width: 100%;
    height: auto;
    position: absolute;
    top:15%;
    left:0%;
    transform: translate(-50%, -50%);
    transform: rotate(280deg);
    z-index: 1;
  }

  .SmallLoopAtProspectPark{
    max-width:100%;
    height: auto;
    position: absolute;
    top:5%;
    left:-5%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    z-index: 1;
  }

  .StuyvesantSquareParktoWilliansburgBridgeLoop{
    max-width: 100%;
    height: auto;
    position: absolute;
    top:20%;
    left:60%;
    transform: translate(-50%, -50%);
    transform: rotate(10deg);
    z-index: 1;
  }

  .ThreeLoopsatShumanRunningTrack{
    max-width:100%;
    height: auto;
    position: absolute;
    top:0%;
    left:0%;
    transform: translate(-50%, -50%);
    transform: rotate(80deg);
    z-index: 1;
  }

  .ThreeLoopsInCentralPark{
    max-width: 100%;
    height: auto;
    position: absolute;
    top:2%;
    left:50%;
    transform: translate(-50%, -50%);
    transform: rotate(80deg);
    z-index: 1;
  }

  .VesseltoHudsonRiverGreenwayLoop{
    max-width: 100%;
    height: auto;
    position: absolute;
    top:23%;
    left:44%;
    transform: translate(-50%, -50%);
    transform: rotate(100deg);
    z-index: 1;
  }


  #Layer_1{
  fill: none;
   stroke: #000;
   stroke-miterlimit: 10;
   stroke-width: 5px;
   position: absolute;
   top:10%;
   left:40%;
   z-index: 1;
   }
   
      
     #Layer_1:hover {
       stroke: rgb(160, 59, 59);
     }