.noticia-text-regular {
  font-family: "Noticia Text", serif;
  font-weight: 400;
  font-style: normal;
}

.noticia-text-bold {
  font-family: "Noticia Text", serif;
  font-weight: 700;
  font-style: normal;
}

.noticia-text-regular-italic {
  font-family: "Noticia Text", serif;
  font-weight: 400;
  font-style: italic;
}

.noticia-text-bold-italic {
  font-family: "Noticia Text", serif;
  font-weight: 700;
  font-style: italic;
}

.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}


html{
 overflow: clip;
}
body {
    background-color: #e6e6e6;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
  
  }

  .containerMap{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

.logo{
  width: 8%;
  height: auto;
  position: sticky;
  margin-left: 4%;
  margin-top: 2%;
  position:fixed;
}
  
#VesseltoHudsonRiverGreenwayLoop {
  fill: none;
  stroke: black;
  stroke-width: 0.2em;
  position: absolute;
  margin-top: -6%;
  margin-left: 50%;
  max-width: 50%;
  transform: rotate(15deg);
  pointer-events: visibleStroke;
}

#VesseltoHudsonRiverGreenwayLoop:hover {
  stroke: rgb(48, 48, 125);
  cursor: pointer;
}


  #ThreeLoopsInCentralPark{
    fill: none;
    stroke: black;
    stroke-width: 0.2em;
    position: absolute;
    margin-top:10%;
    margin-left:-18%;
    transform: rotate(80deg);
    max-width: 40%;
    pointer-events: visibleStroke;
  }

  #ThreeLoopsInCentralPark:hover{
    stroke:red;
    cursor: pointer;
  }

  #ThreeLoopsatShumanRunningTrack{
    fill: none;
    stroke: black;
    stroke-width: 0.2em;
    position: absolute;
    top:8%;
    left:60%;
    transform: rotate(0deg);
    max-width: 40%;
    pointer-events: visibleStroke;
  }

  #ThreeLoopsatShumanRunningTrack:hover{
    stroke:red;
    cursor: pointer;
  }

  #StuyvesantSquareParktoWilliansburgBridgeLoop{
    fill: none;
    stroke: black;
    stroke-width: 0.2em;
    position: absolute;
    top:0%;
    left:45%;
    transform: rotate(10deg);
    max-width: 40%;
    pointer-events: visibleStroke;
  }

  #StuyvesantSquareParktoWilliansburgBridgeLoop:hover{
    stroke:red;
    cursor: pointer;
  }


  #SmallLoopAtProspectPark{
    fill: none;
    stroke: black;
    stroke-width: 0.2em;
    position: absolute;
    margin-top:-10%;
    margin-left:15%;
    transform: rotate(300deg);
    max-width: 40%;
    pointer-events: visibleStroke;
  
  }

  #SmallLoopAtProspectPark:hover{
    stroke:blue;
    cursor: pointer;
  }


  #RooseveltIsland{
    fill: none;
    stroke: black;
    stroke-width: 0.2em;
    position: absolute;
    margin-top:-25%;
    margin-left:-8%;
    transform: rotate(60deg);
    max-width: 40%;
    pointer-events: visibleStroke;
  }

  #RooseveltIsland:hover{
    stroke:rgb(148, 44, 44);
    cursor: pointer;
  }

  #RiversideParkFromEmpireStateTrailtoColumbiaUniversity{
    fill: none;
    stroke: black;
    stroke-width: 0.2em;
    position: absolute;
    top:0%;
    left:3%;
    max-width: 40%;
    pointer-events: visibleStroke;
  }

  #RiversideParkFromEmpireStateTrailtoColumbiaUniversity:hover{
    stroke:rgb(148, 44, 44);
    cursor: pointer;
  }

  #PebbleBeachtoBrooklynBridgeParkLoop{
    fill: none;
    stroke: black;
    stroke-width: 0.2em;
    position: absolute;
    top:35%;
    left:12%;
    transform: translate(-50%, -50%);
    transform: rotate(60deg);
    max-width: 40%;
    pointer-events: visibleStroke;
  }

  #PebbleBeachtoBrooklynBridgeParkLoop:hover{
    stroke: blue;
    cursor: pointer;
  }

#OneLoopatShumanRunningTrack{
  fill: none;
  stroke: black;
  stroke-width: 0.2em;
  position: absolute;
  top:40%;
  left: 66%;
  transform: rotate(280deg);
  max-width: 40%;
  pointer-events: visibleStroke;
}

#OneLoopatShumanRunningTrack:hover{
  stroke: green;
  cursor: pointer;
}


#OneLoopatCentralPark{
  fill: none;
  stroke: black;
  stroke-width: 0.2em;
  position: absolute;
  top:-20%;
  left: 56%;
  transform: rotate(100deg);
  max-width: 40%;
  pointer-events: visibleStroke;
  }

  #OneLoopatCentralPark:hover{
    stroke: green;
    cursor: pointer;
  }

  #MadisonSquareParktoEastRiverParkField8{
    fill: none;
    stroke: black;
    stroke-width: 0.2em;
    position: absolute;
    top:-20%;
    left: 7%;
    transform: rotate(80deg);
    max-width: 40%;
    pointer-events: visibleStroke;
  }

  #MadisonSquareParktoEastRiverParkField8:hover{
    stroke:blue;
    cursor: pointer;
  }

#HudsonRiverto5av11st{
  fill: none;
    stroke: black;
    stroke-width: 0.2em;
    position: absolute;
    top:4%;
    left:10%;
    max-width:40%;
    pointer-events: visibleStroke;
}


#HudsonRiverto5av11st:hover{
  stroke:green;
  cursor: pointer;
}



  #LittleIslandtoOneWorldTrade{
    fill: none;
    stroke: black;
    stroke-width: 0.2em;
    position: absolute;
    top:30%;
    left: 55%;
    transform: rotate(60deg);
    max-width:40%;
    pointer-events: visibleStroke;
  }

  #LittleIslandtoOneWorldTrade:hover{
    stroke:red;
    cursor: pointer;
  }

  #HudsonRun{
    fill: none;
    stroke: black;
    stroke-width: 0.2em;
    position: absolute;
    top:20%;
    left: 20%;
    max-width:40%;
    pointer-events: visibleStroke;
  }

  #HudsonRun:hover{
    stroke:blue;
    cursor: pointer;
  }

  #BrooklynBridgeLoop{
    fill: none;
    stroke: black;
    stroke-width: 0.2em;
    position: absolute;
    top:22%;
    left: 0%;
    max-width:40%;
    pointer-events: visibleStroke;
  }

  #BrooklynBridgeLoop:hover{
    stroke: blue;
    cursor: pointer;
  }

  #BigLoopAtProspectPark{
    fill: none;
    stroke: black;
   stroke-width: 0.2em;
    position: absolute;
    top:-5%;
    left: 22%;
    transform: rotate(145deg);
    max-width:40%;
    pointer-events: visibleStroke;
  }

  #BigLoopAtProspectPark:hover{
    stroke: green;
    cursor: pointer;
  }

  #RiversideParkFromEmpireStateTrailtoColumbiaUniversity{
    fill: none;
     stroke: black;
     stroke-width: 0.2em;
     position: absolute;
     top:2%;
     left:40%;
     max-width:40%;
     pointer-events: visibleStroke;
     }
     
        
   #RiversideParkFromEmpireStateTrailtoColumbiaUniversity:hover {
     stroke: red;
     cursor: pointer;
    }

    #RockefellerParkLoop{
      fill:none;
      stroke: black;
      stroke-width: 0.2em;
      position: absolute;
      top:14%;
      left:47%;
      max-width:40%;
      transform: rotate(90deg);
      pointer-events: visibleStroke;
      
    }
  
    #RockefellerParkLoop:hover {
      stroke: red;
      cursor: pointer;
    }

    /* Popup container */
.popup {
  position: absolute;
  margin-top: 20%;
  margin-left: 37%;
  width: 20%;
  height: fit-content;
  display:block;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.752);
  text-align: center;
  border-radius: 1em;
  text-align: center;
  padding: 3%;
  color:rgb(245, 245, 245);
  font-family: "Rajdhani", sans-serif;
  text-decoration: none;

}

.popup:hover{
 filter: invert(100%);
  transition: 0.5s;
}
  

  .takeTheChallenge{
    background-color: #e6e6e6;
    color:black;
    border-radius: 0%;
    padding: 2%;
    margin: 4%;
    text-align: left;
    font-family: "Rajdhani", sans-serif;
    text-decoration: none;
  }

 

  

 

  


 

  

  

 

  

  

  

 


 

  
  