@font-face {
    font-family: chomsky;
    src: url(Chomsky.otf);
  }
  @font-face {
    font-family: OldNewspaperTypes;
    src: url(OldNewspaperTypes.ttf);
  }
  @font-face {
    font-family: Unique;
    src: url(Unique.ttf);
  }
  



  html {
    font-size: 100%;
  }
  
  body {
    font-family: Unique;
    background-color: #232323;
    max-width: 1200px;
    max-height: fit-content;
    margin: auto;
    align-items: justify;
    border: 2px solid;
    padding: 2px;
   
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: OldNewspaperTypes;
    font-weight: normal;
    margin: 0;
    padding: 4px 8px;
    background-color: #c6b792;
  }
  
  p {
    font-family: Unique;
    font-size: 16px;
    text-align: justify;
    margin: 0;
    padding: 4px 8px;
    box-sizing: border-box;
    max-width: 900px;
  }
  
  
  header {
    margin: 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c6b792;
  }
  
  header h1 {
    font-family: OldNewspaperTypes;
    font-size: 80px;
    
    
  }
  
  header div:first-child {
    margin-left: 8vw;
    
  }
  
  header div:last-child {
    margin-right: 8vw;
   
  }
  
  header div {
    padding: 12px;
    border: 2px solid;
    
  }
  
  nav {
    padding: 8px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    background-color: #c6b792;
  }
  
  section {
    display: flex;
    align-content: justify;
    text-align: justify;
    background-color: #c6b792;
   
  }
  
  article {
    margin-top: 18px;
   
  }
  
  .side-article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 800px;
   
    flex-shrink: .3;
    overflow: hidden;
    padding-right: 4px;
    border-right: 1px solid;
    margin-right: 10px;
    margin-top: 12px;
    max-width: 600px;
    align-items: justify;
    justify-content: justify;
    width: 70%;
  }
  
  .side-article h3{
    text-align: justify;
    margin-bottom: 10px;
    font-size: 92px;
    line-height: 30%;
  }
  .main-article{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 800px;
    flex-shrink: .3;
    overflow: hidden;
    padding-right: 4px;
    border-right: 1px solid;
    margin-right: 10px;
    max-width: 600px;
    align-items: justify;
    justify-content: justify;
    width: 70%;
    margin-top: 12px;
    
  }
  .main-article h3{
    text-align: justify;
    margin-bottom: 10px;
    font-size: 82px;
    line-height: 30%;
  
  
  }
  

  .flex-container {
    display: flex;
    justify-content: justify;
    align-items:start;
  
   
}

.flex-container > div {
    
    font-family: Unique;
    font-size: 16px;
    text-align: justify;
    margin: 0;
    padding: 4px 8px;
    box-sizing: border-box;
    max-width: 400px;
    justify-content: justify;
    align-items:start;
    
  
    
}
.footer{
    padding: 8px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    background-color: #c6b792;
}


.unstyled-link {
    color: inherit;
    text-decoration: none;
    transition: color 0.1s ease;
  }

 .hover-link:hover {
  color: rgb(93, 92, 92) ;
  
 }

#flex-grow1{
   width: 200px;
   
  }

#flex-grow2{
    width: 400px;
   }

#bottom-border{
    border-bottom: 2px solid black;
    margin: 4px;

   }


   @media screen and (max-width: 800px) {
    .flex-container{
      display:none;
      margin: auto;
      margin: auto;
    
    
    }

    .side-article{
      width: 100%;
      display: none;
    }

    .main-article{
      width: 100%;
      display: none;
    }


  }

