
.html{
    background-color: darkgray;

}

body{
    max-width: 700px;
    margin: auto;
    background-color:cadetblue;
}

.MainHeader {
    text-align: center;
    font-style: italic;
    margin-top: 50px;
    }

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid-item {
    background-color: #3a5293;
    padding: 20px;
    text-align: center;
   height: auto;
   width: auto;
}

.grid-item:hover {
    background-color: #222f55;
    box-shadow: #1b2442;

  }

img, video, audio, object {
    width: 100%;
    margin-top: 10px;
}

object{
    aspect-ratio: 4/3;
}

/* Nav */

.Nav{
    position: fixed;
    top: 10px ;
    right: 10px ;

}
.Nav a {
    color: rgb(134, 34, 34)
}

.Nav-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Nav-item{
    display: inline-block;
    background-color: rgb(83, 176, 176);
    padding: 5px;
}