.html{
    background-color: bisque;
}

.h1{
    font-size: 1.2em;
    color:darkred;

}

.image{
    width: 75%;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-left:0%;
    margin-top:0%;
    margin-bottom: 8%;
}

.explanation{
    position:absolute;
    margin-top: -17%;
    margin-left: 78%;
    max-width: 20%;
    max-height: auto;

}
video{
    width: 75%;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-left:0%;
    margin-top:0%;
    margin-bottom: 8%;
}