

.m-plus-rounded-1c-light {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  h1{
    position: sticky;
    margin-left: 3.5%;
    margin-top: 1%;
    position:absolute;
    font-family: "M PLUS Rounded 1c", sans-serif;
  }

  @media only screen and (max-width: 600px){
    /* For mobile phones: */
    h1 {
      font-size: 0.9em;
      margin-top: 1%;
    }
  }

  @media only screen and (max-width: 1170px){
    /* For mobile phones: */
    h1 {
        font-size: 0.8em;
        margin-top: 1%;
    }
  }

.projectExplanation{
    max-width: 23%;
    height: fit-content;
    font-size: 1em;
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin-top: 13%;
    margin-left: 2%;
    position: absolute;
}

.photoMain{
max-width: 70%;
max-height: fit-content;
margin-left: 25%;
margin-top: 4%;
position: absolute;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.photoFilter{
    max-width: 65%;
    max-height: fit-content;
    margin-left: 8%;
    margin-top: 40%;
    position: absolute;

}


.photoTrack-1{
    max-width: 60%;
    max-height: fit-content;
    margin-left: 28%;
    margin-top: 70%;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.photoTrack-2{
    max-width: 60%;
    max-height: fit-content;
    margin-left: 4%;
    margin-top: 98%;
    position: absolute;
}
.photoTrack-3{
    max-width: 60%;
    max-height: fit-content;
    margin-left: 38%;
    margin-top: 124%;
    position: absolute;
   
}

.backButton{
    margin-top: 152%;
    margin-left: 4%;
  }