

.m-plus-rounded-1c-light {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .logo{
    width: 8%;
    height: auto;
    position: sticky;
    margin-left: 3.5%;
    margin-top: 1%;
    position:absolute;
  }

  @media only screen and (max-width: 600px){
    /* For mobile phones: */
    [class="logo"] {
      width: 15%;
      margin-top: 1%;
    }
  }

  @media only screen and (max-width: 1170px){
    /* For mobile phones: */
    [class="logo"] {
      width: 15%;
      margin-top: 1%;
    }
  }

.projectExplanation{
    max-width: 23%;
    height: fit-content;
    font-size: 1em;
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin-top: 13%;
    margin-left: 2%;
    position: absolute;
}

.photoMain{
max-width: 70%;
max-height: fit-content;
margin-left: 25%;
margin-top: 4%;
position: absolute;

}

.photoFilter{
    max-width: 65%;
    max-height: fit-content;
    margin-left: 8%;
    margin-top: 40%;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.photoTrack-1{
    max-width: 60%;
    max-height: fit-content;
    margin-left: 28%;
    margin-top: 70%;
    position: absolute;
}
.photoTrack-2{
    max-width: 60%;
    max-height: fit-content;
    margin-left: 8%;
    margin-top: 98%;
    position: absolute;
}
.photoTrack-3{
    max-width: 60%;
    max-height: fit-content;
    margin-left: 38%;
    margin-top: 120%;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.photoTrack-4{
    max-width: 60%;
    max-height: fit-content;
    margin-left: 0%;
    margin-top: 144%;
    position: absolute;
}

.photoTrack-5{
    max-width: 60%;
    max-height: fit-content;
    margin-left: 36%;
    margin-top: 170%;
    position: absolute;
}

.backButton{
  margin-top: 202%;
  margin-left: 4%;
}