

.m-plus-rounded-1c-light {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  h1{
    max-width: 25%;
    height: fit-content;
    position: absolute;
    margin-left: 2%;
    margin-top: 3%;
    position:absolute;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font: 1.7rem;
  }

.projectExplanation{
    max-width: 23%;
    height: fit-content;
    font-size: 1em;
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin-top: 12%;
    margin-left: 2%;
    position: absolute;
}

.photoMain{
max-width: 70%;
max-height: fit-content;
margin-left: 27%;
margin-top: 4%;
position: absolute;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
z-index: 2;
}

.photoFilter{
    max-width: 65%;
    max-height: fit-content;
    margin-left: 4%;
    margin-top: 47%;
    position: absolute;
    
}


.photoTrack-1{
    max-width: 60%;
    max-height: fit-content;
    margin-left: 36%;
    margin-top: 78%;
    position: absolute;
    z-index: 1;
}
.photoTrack-2{
    max-width: 60%;
    max-height: fit-content;
    margin-left: 8%;
    margin-top: 108%;
    position: absolute;
    
}
.photoTrack-3{
    max-width: 60%;
    max-height: fit-content;
    margin-left: 35%;
    margin-top: 137%;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.photoTrack-4{
    max-width: 60%;
    max-height: fit-content;
    margin-left: 0%;
    margin-top: 144%;
    position: absolute;
    margin-bottom: 4%;
    padding-bottom: 4%;
}
.backButton{
  margin-top: 0%;
  margin-left: 89%;
  text-decoration: none;
color: black;
font-family:"M PLUS Rounded 1c", sans-serif;
position: absolute;
}

.VisitWebsite{
margin-top: 2%;
margin-left:89%;
text-decoration: none;
color: black;
font-family:"M PLUS Rounded 1c", sans-serif;
position: absolute;
}